<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="infragistics.web" type="System.Configuration.SingleTagSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <infragistics.web styleSetName="Default" styleSetPath="~/ig_res"/>
  <appSettings>
    <add key="CommandTimeout" value="900"/>
    <add key="HideNavigator" value="false"/>
    <add key="microsoft.ReportService2010" value="http://rgxvmsqlrpt08/ReportServer/ReportService2010.asmx"/>
  </appSettings>
  <connectionStrings>
    <add name="Enterprise" connectionString="data source=RGXVMSQL;initial catalog=TSORT;persist security info=False;user id=sa;password=objects;packet size=4096;Connect Timeout=15" providerName="System.Data.SqlClient"/>
    <add name="EnterpriseR" connectionString="data source=RGXVMSQLR;initial catalog=TSORTR;persist security info=False;user id=sa;password=objects;packet size=4096;Connect Timeout=15" providerName="System.Data.SqlClient"/>
    <add name="Roadshow" connectionString="data source=RGXVMRSSQL;initial catalog=RSREPORT;persist security info=False;user id=sa;password=objects;packet size=4096;Connect Timeout=15" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" batch="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Infragistics4.Web.v12.1, Version=12.1.20121.2236, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </buildProviders>
    </compilation>
    <httpRuntime executionTimeout="600"/>
    <httpHandlers>
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <authentication mode="None"/>
    <identity impersonate="false"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <pages styleSheetTheme="Reports" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="UseCookies" timeout="1440"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <customErrors mode="On" defaultRedirect="Error.aspx"/>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
  </system.web>
  <system.web.extensions>
    <scripting>
      <scriptResourceHandler enableCaching="true" enableCompression="true"/>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="Reserved-ReportViewerWebControl-axd" path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" resourceType="Unspecified" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
</configuration>