<?xml version="1.0"?>
<configuration>
	<appSettings>
        <add key="AdminEmail" value="info@argixlogistics.com,pleap@argixlogistics.com,zchan@multimediasolutions.com,jheary@argixlogistics.com" />
    </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=172.31.10.201;Initial Catalog=Enterprise;Persist Security Info=True;User ID=sa;Password=objects;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="None">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
	<customErrors mode="RemoteOnly"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="extranet.support@argixlogistics.com">
        <network defaultCredentials="true" userName="" password="" host="172.31.10.169" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
