<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Membership" connectionString="Data Source=172.31.10.200;Initial Catalog=TrackingMembership;Persist Security Info=True;User ID=sa;Password=objects;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ISMTPService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://rgxvmweb.argix.com/Argix10/Argix10.Enterprise.Services/SMTP.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISMTPService"
        contract="Enterprise.ISMTPService" name="WSHttpBinding_ISMTPService" />
    </client>
  </system.serviceModel>
</configuration>
