<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CommandTimeout" value="90"/>
    <add key="ClientPickupsViewDaysBack" value="30"/>
    <add key="ClientPickupsViewDaysForward" value="30"/>
    <add key="EmailAdmin" value="extranet.support@argixlogistics.com"/>
    <add key="EmailFinance" value="adarwick@argixlogistics.com,  jrosa@argixlogistics.com, jheary@argixlogistics.com" />
    <add key="EmailIT" value="jheary@argixlogistics.com"/>
    <add key="BookingCutoffHour" value="24" />
    <add key="LogLevelFloor" value="4" />
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=rgxvmsql;Initial Catalog=ArgixMembership;Persist Security Info=True;User ID=sa;Password=objects;" providerName="System.Data.SqlClient"/>
    <add name="Enterprise" connectionString="Data Source=rgxvmsql;Initial Catalog=TSORT;Persist Security Info=True;User ID=sa;Password=objects" providerName="System.Data.SqlClient"/>
    <add name="Dispatch" connectionString="Data Source=rgxvmdev;Initial Catalog=Tsort; Persist Security Info=True; User ID=sa; Password=objects; Pooling=false; Min Pool Size=0; Max Pool Size=100;" providerName="System.Data.SqlClient"/>
    <add name="LTL" connectionString="Data Source=rgxvmsql;Initial Catalog=Tsort;Persist Security Info=True;User ID=sa;Password=objects" providerName="System.Data.SqlClient"/>
    <add name="LTL2" connectionString="Data Source=rgxvmsql;Initial Catalog=Tsort;Persist Security Info=True;User ID=sa;Password=objects" providerName="System.Data.SqlClient"/>
    <add name="TLViewer" connectionString="Data Source=rgxvmsql400;Initial Catalog=TSORT;Persist Security Info=True;User ID=sa;Password=objects" providerName="System.Data.SqlClient"/>
    <add name="0" connectionString="Data Source=rgxvmdev;Initial Catalog=TSORT;Persist Security Info=True;User ID=sa;Password=objects" providerName="System.Data.SqlClient"/>
    <add name="1" connectionString="Data Source=rgxvmsql400;Initial Catalog=TSORT;Persist Security Info=True;User ID=sa;Password=objects" providerName="System.Data.SqlClient"/>
    <add name="2" connectionString="Data source=rfrgxvmsql1;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096" providerName="System.Data.SqlClient"/>
    <add name="3" connectionString="Data source=margxvmsql;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096" providerName="System.Data.SqlClient"/>
    <add name="4" connectionString="Data source=ctrgxvmsql;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096" providerName="System.Data.SqlClient"/>
    <add name="5" connectionString="Data Source=jargxvmts;Initial Catalog=TSORT;Persist Security Info=True;User ID=sa;Password=objects" providerName="System.Data.SqlClient"/>
    <add name="11" connectionString="Data source=agsfsrgxts;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096" providerName="System.Data.SqlClient"/>
    <add name="12" connectionString="Data source=mmrgxvmsql;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096" providerName="System.Data.SqlClient"/>
    <add name="13" connectionString="Data source=llrgxvmsql;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096" providerName="System.Data.SqlClient"/>
    <add name="14" connectionString="Data source=agslrgxts;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096" providerName="System.Data.SqlClient"/>
    <add name="28" connectionString="Data source=agvmcorgxts;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096" providerName="System.Data.SqlClient"/>
    <add name="29" connectionString="Data source=agchrgxts;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096" providerName="System.Data.SqlClient"/>
    <add name="31" connectionString="Data source=atrgxvmsql;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096" providerName="System.Data.SqlClient"/>
    <add name="32" connectionString="Data source=chrgxvmsql;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096" providerName="System.Data.SqlClient"/>
    <add name="35" connectionString="Data source=agnfirgxts;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096" providerName="System.Data.SqlClient"/>
    <add name="55" connectionString="Data source=agdlrgxts;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096" providerName="System.Data.SqlClient"/>
    <add name="65" connectionString="Data source=agohrgxts;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Windows"/>
    <roleManager enabled="true" defaultProvider="SqlRoleProvider">
      <providers>
        <clear/>
        <add name="SqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="Argix"/>
      </providers>
    </roleManager>
    <customErrors mode="On" defaultRedirect="Error.aspx"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="true"/>
  </system.webServer>
  <system.serviceModel>
    <client>
      <endpoint address="http://rgxvmweb.argix.com/Argix10/Argix10.Enterprise.Services/SMTP.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISMTPService"
        contract="Argix.Enterprise.ISMTPService" name="WSHttpBinding_ISMTPService" />
    </client>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <bindings>
      <wsHttpBinding>
        <binding name="Default" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false"
          transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="40000000"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384000"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None" />
        </binding>
        <binding name="Intranet" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false"
          transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="40000000"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384000"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="Internet" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false"
          transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="40000000"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ISMTPService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="Argix.Freight.DispatchService" behaviorConfiguration="RoleBased">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Intranet" contract="Argix.Freight.IDispatchService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Argix.Freight.DispatchClientService" behaviorConfiguration="Default">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Default" contract="Argix.Freight.IDispatchClientService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Argix.Freight.LTLService" behaviorConfiguration="Default">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Default" contract="Argix.Freight.ILTLService"/>
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Default" contract="Argix.Freight.ILTLAdminService"/>
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Default" contract="Argix.Freight.ILTLClientService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Argix.Freight.LTLService2" behaviorConfiguration="BigGraph">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Default" contract="Argix.Freight.ILTLService2"/>
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Default" contract="Argix.Freight.ILTLAdminService2"/>
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Default" contract="Argix.Freight.ILTLLoadTenderService2"/>
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Default" contract="Argix.Freight.ILTLClientService2"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Argix.Freight.FreightSystemService" behaviorConfiguration="Default">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Default" contract="Argix.Freight.IDispatchSystemService"/>
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Default" contract="Argix.Freight.ILTLSystemService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Argix.Freight.TLViewerService" behaviorConfiguration="Default">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Default" contract="Argix.Freight.ITLViewerService"/>
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Default" contract="Argix.Freight.ITLViewerService2"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Argix.Freight.TsortService" behaviorConfiguration="BigGraph">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Default" contract="Argix.Freight.ITsortService"/>
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Default" contract="Argix.Freight.IFreightAssignService"/>
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Default" contract="Argix.Freight.IZoneClosingService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="RoleBased">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceAuthorization principalPermissionMode="UseAspNetRoles" roleProviderName="SqlRoleProvider"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
        </behavior>
        <behavior name="BigGraph">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
        </behavior>
        <behavior name="Tsort">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Windows"/>
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="UseAspNetRoles" roleProviderName="SqlRoleProvider"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>