<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Argix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="menu">
			<section name="help" type="System.Configuration.NameValueSectionHandler"/>
		</sectionGroup>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Argix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
  <applicationSettings>
    <Argix.Properties.Settings>
      <setting name="SecurityCenter_Microsoft_ReportingService2010"
        serializeAs="String">
        <value>http://rgxvmsqlrpt08:80/ReportServer/ReportService2010.asmx</value>
      </setting>
      <setting name="SecurityCenter_Crossmatch_VisTrakWebService" serializeAs="String">
        <value>http://rgxvistrak/VisTrakWebServices/VisTrakWebService.asmx</value>
      </setting>
    </Argix.Properties.Settings>
  </applicationSettings>
  <userSettings>
		<Argix.Properties.Settings>
    <setting name="LastVersion" serializeAs="String">
      <value>0</value>
    </setting>
    <setting name="Toolbar" serializeAs="String">
      <value>True</value>
    </setting>
    <setting name="StatusBar" serializeAs="String">
      <value>True</value>
    </setting>
    <setting name="WindowState" serializeAs="String">
      <value>Normal</value>
    </setting>
    <setting name="Location" serializeAs="String">
      <value>45, 45</value>
    </setting>
    <setting name="Size" serializeAs="String">
      <value>800, 600</value>
    </setting>
    <setting name="Font" serializeAs="String">
      <value>Tahoma, 8.25pt</value>
    </setting>
  </Argix.Properties.Settings>
	</userSettings>
	<menu>
		<help>
			<add key="Help Contents..." value=""/>
			<add key="Release Notes..." value="releasenotes.txt"/>
		</help>
	</menu>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_RoleService">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IRoadshowService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IBadgeService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="81920000"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="1638400"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IDriverBadgeService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IEmployeeBadgeService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IVendorBadgeService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IAccessControlBadgeService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="655360000"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192000"
            maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://rgxvmweb/Argix10/Argix10.Terminals.Services/Roadshow.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRoadshowService"
        contract="Terminals.IRoadshowService" name="WSHttpBinding_IRoadshowService" />
      <endpoint address="http://rgxvmweb/Argix10/Argix10.HR.Services/Badge.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBadgeService"
        contract="HR.IBadgeService" name="WSHttpBinding_IBadgeService" />
      <endpoint address="http://rgxvmweb/Argix10/Argix10.HR.Services/Badge.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAccessControlBadgeService"
        contract="HR.IAccessControlBadgeService" name="WSHttpBinding_IAccessControlBadgeService" />
      <endpoint address="http://rgxvmweb/Argix10/Argix10.HR.Services/Badge.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDriverBadgeService"
        contract="HR.IDriverBadgeService" name="WSHttpBinding_IDriverBadgeService" />
      <endpoint address="http://rgxvmweb/Argix10/Argix10.HR.Services/Badge.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEmployeeBadgeService"
        contract="HR.IEmployeeBadgeService" name="WSHttpBinding_IEmployeeBadgeService" />
      <endpoint address="http://rgxvmweb/Argix10/Argix10.HR.Services/Badge.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IVendorBadgeService"
        contract="HR.IVendorBadgeService" name="WSHttpBinding_IVendorBadgeService" />
      <endpoint address="http://rgxvmweb.argix.com/Argix10/Argix10.Membership.Services/RoleService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_RoleService"
        contract="Security.RoleService" name="BasicHttpBinding_RoleService" />
    </client>
  </system.serviceModel>
</configuration>
