<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="EmailAdmin" value="extranet.support@argixlogistics.com" />
    <add key="EmailIT" value="jheary@argixlogistics.com" />
    <add key="LogLevelFloor" value="4" />
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=rgxvmsql;Initial Catalog=ArgixMembership;Persist Security Info=True;User ID=sa;Password=objects;" providerName="System.Data.SqlClient"/>
    <add name="Enterprise" connectionString="Data Source=rgxvmsql;Initial Catalog=TSORT;Persist Security Info=True;User ID=sa;Password=objects" providerName="System.Data.SqlClient"/>
    <add name="EnterpriseR" connectionString="Data Source=rgxvmsqlr;Initial Catalog=TSORTR;Persist Security Info=True;User ID=sa;Password=objects" providerName="System.Data.SqlClient"/>
    <add name="ShipScheduleTemplates" connectionString="Data Source=rgxvmsql400;Initial Catalog=TSORT;Persist Security Info=True;User ID=sa;Password=objects" providerName="System.Data.SqlClient"/>
    <add name="0" connectionString="Data Source=rgxvmdev;Initial Catalog=TSORT;Persist Security Info=True;User ID=sa;Password=objects" providerName="System.Data.SqlClient"/>
    <add name="1" connectionString="Data Source=rgxvmsql;Initial Catalog=TSORT;Persist Security Info=True;User ID=sa;Password=objects" providerName="System.Data.SqlClient"/>
    <add name="2" connectionString="Data source=rfrgxvmsql1;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096" providerName="System.Data.SqlClient"/>
    <add name="3" connectionString="Data source=margxvmsql;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096" providerName="System.Data.SqlClient"/>
    <add name="4" connectionString="Data source=ctrgxvmsql;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096" providerName="System.Data.SqlClient"/>
    <add name="5" connectionString="Data Source=jargxvmts;Initial Catalog=TSORT;Persist Security Info=True;User ID=sa;Password=objects" providerName="System.Data.SqlClient"/>
    <add name="11" connectionString="Data source=agsfsrgxts;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096" providerName="System.Data.SqlClient"/>
    <add name="12" connectionString="Data source=mmrgxvmsql;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096" providerName="System.Data.SqlClient"/>
    <add name="13" connectionString="Data source=llrgxvmsql;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096" providerName="System.Data.SqlClient"/>
    <add name="14" connectionString="Data source=agslrgxts;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096" providerName="System.Data.SqlClient"/>
    <add name="28" connectionString="Data source=agvmcorgxts;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096" providerName="System.Data.SqlClient"/>
    <add name="29" connectionString="Data source=agchrgxts;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096" providerName="System.Data.SqlClient"/>
    <add name="31" connectionString="Data source=atrgxvmsql;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096" providerName="System.Data.SqlClient"/>
    <add name="32" connectionString="Data source=chrgxvmsql;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096" providerName="System.Data.SqlClient"/>
    <add name="35" connectionString="Data source=agnfirgxts;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096" providerName="System.Data.SqlClient"/>
    <add name="55" connectionString="Data source=agdlrgxts;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096" providerName="System.Data.SqlClient"/>
    <add name="65" connectionString="Data source=agohrgxts;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" batch="false" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
    <roleManager enabled="true" defaultProvider="SqlRoleProvider">
      <providers>
        <clear/>
        <add name="SqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="Argix"/>
      </providers>
    </roleManager>
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- The system.webServer section is required for running ASP.NET AJAX under Internet Information Services 7.0.  It is not necessary for previous version of IIS. -->
  <system.serviceModel>
    <client>
      <endpoint address="http://rgxvmweb.argix.com/Argix10/Argix10.Enterprise.Services/SMTP.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISMTPService" contract="Argix.Enterprise.ISMTPService" name="WSHttpBinding_ISMTPService"/>
    </client>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <bindings>
      <wsHttpBinding>
        <binding name="Default" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="40000000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None"/>
        </binding>
        <binding name="Intranet" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="40000000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="Internet" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="40000000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="WSHttpBinding_ISMTPService">
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="Argix.AgentLineHaul.AgentLineHaulService" behaviorConfiguration="BigGraph">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Default" contract="Argix.AgentLineHaul.IAgentLineHaulService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Argix.AgentLineHaul.ISDExportService" behaviorConfiguration="BigGraph">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Default" contract="Argix.AgentLineHaul.IISDExportService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Argix.AgentLineHaul.ShipScheduleTemplatesService" behaviorConfiguration="BigGraph">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Default" contract="Argix.AgentLineHaul.IShipScheduleTemplatesService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Argix.AgentLineHaul.ShipScheduleService" behaviorConfiguration="BigGraph">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Default" contract="Argix.AgentLineHaul.IShipScheduleService"/>
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Default" contract="Argix.AgentLineHaul.IZoneClosingService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="RoleBased">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceAuthorization principalPermissionMode="UseAspNetRoles" roleProviderName="SqlRoleProvider"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
        </behavior>
        <behavior name="BigGraph">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>