<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Argix.Finance.Settings.RGXSQLR" connectionString="data source=RGXSQLR;initial catalog=TSORTR;persist security info=True;user id=sa;password=objects;packet size=4096;Connect Timeout=30"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
