<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IRateQuoteService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:34780/Argix10.Finance.Services/RateQuoteService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRateQuoteService"
                contract="RateWareXL.IRateQuoteService" name="WSHttpBinding_IRateQuoteService" />
        </client>
    </system.serviceModel>
</configuration>