<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Argix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Tsort" connectionString="Data Source=JARGXVMTS;Initial Catalog=TSORT;Persist Security Info=True;User ID=sa;Password=objects" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime executionTimeout="600"/>
    <pages styleSheetTheme="Argix" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/>
    <authentication mode="None"/>
    <customErrors mode="RemoteOnly" defaultRedirect="Error.aspx" />
  </system.web>
</configuration>