<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages styleSheetTheme="Argix" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/>
    <authentication mode="None"/>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="20"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <customErrors mode="On" defaultRedirect="Error.aspx"/>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ITLViewerService" maxReceivedMessageSize="6553600">
          <security mode="None"/>
        </binding>
        <binding name="WSHttpBinding_ITLViewerService2">
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://rgxvmweb/Argix10/Argix10.Freight.Services/TLViewerService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITLViewerService" contract="Argix.Freight.ITLViewerService" name="WSHttpBinding_ITLViewerService"/>
      <endpoint address="http://rgxvmweb/Argix10/Argix10.Freight.Services/TLViewerService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITLViewerService" contract="Argix.Freight.ITLViewerService2" name="WSHttpBinding_ITLViewerService"/>
    </client>
  </system.serviceModel>
</configuration>