<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Argix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Argix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="menu">
      <section name="help" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ExportPath" value="" />
    <add key="ExportPath0031" value="\\RGXFLSRV\ROADSHOW\RS-AdjustableOrders\Atlanta\ATDailyPU\" />
    <add key="ExportPath0032" value="\\RGXFLSRV\ROADSHOW\RS-AdjustableOrders\Charlotte\CHDAILYPU\" />
    <add key="ExportPath0130" value="\\RGXFLSRV\ROADSHOW\RS-AdjustableOrders\Lakeland\LLDAILYPU\" />
    <add key="ExportPath0129" value="\\RGXFLSRV\ROADSHOW\RS-AdjustableOrders\Medley\MMDAILYPU\" />
    <add key="ExportPath0001" value="\\RGXFLSRV\ROADSHOW\RS-AdjustableOrders\Ridgefield\RFDAILYPU\" />
    <add key="ExportPath0044" value="\\RGXFLSRV\ROADSHOW\RS-AdjustableOrders\Wilmington\WMDAILYPU\" />
    <add key="ExportPath0101" value="\\RGXFLSRV\ROADSHOW\RS-AdjustableOrders\SoWindsor\SWDAILYPU\" />
  </appSettings>
  <connectionStrings />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <applicationSettings>
    <Argix.Properties.Settings>
      <setting name="MapUrl" serializeAs="String">
        <value>http://rgxvmweb/Argix10/Argix10.Enterprise.Services/Map.aspx</value>
      </setting>
      <setting name="AutoRefreshTimer" serializeAs="String">
        <value>60000</value>
      </setting>
    </Argix.Properties.Settings>
  </applicationSettings>
  <menu>
    <help>
      <add key="Help Contents" value=""/>
      <add key="Release Notes..." value="releasenotes.txt"/>
    </help>
  </menu>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Default" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="Roadshow" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false"
          transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="40000000"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
        <binding name="ShipSchedule" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false"
          transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="6553600"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
        <binding name="Dispatch" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false"
          transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="6553600"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" realm="" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://rgxvmweb/Argix10/Argix10.Terminals.Services/Roadshow.svc"
        behaviorConfiguration="BigGraph" binding="wsHttpBinding" bindingConfiguration="Roadshow"
        contract="Terminals.IRoadshowService" name="Roadshow" />
      <endpoint address="http://rgxvmweb/Argix10/Argix10.Membership.Services/RoleService.svc"
        binding="basicHttpBinding" bindingConfiguration="Default" contract="Security.RoleService"
        name="Default" />
      <endpoint address="http://rgxvmweb/Argix10/Argix10.AgentLineHaul.Services/ShipScheduleService.svc"
        binding="wsHttpBinding" bindingConfiguration="ShipSchedule"
        contract="AgentLineHaul.IShipScheduleService" name="ShipSchedule" />
      <endpoint address="http://rgxvmweb/Argix10/Argix10.AgentLineHaul.Services/ShipScheduleService.svc"
        binding="wsHttpBinding" bindingConfiguration="ShipSchedule"
        contract="AgentLineHaul.IDispatchService" name="ShipSchedule" />
      <endpoint address="http://rgxvmweb/Argix10/Argix10.AgentLineHaul.Services/ShipScheduleService.svc"
        binding="wsHttpBinding" bindingConfiguration="ShipSchedule"
        contract="AgentLineHaul.IZoneClosingService" name="ShipSchedule" />
      <endpoint address="http://rgxvmweb/Argix10/Argix10.Freight.Services/Dispatch.svc"
        binding="wsHttpBinding" bindingConfiguration="Dispatch" contract="Freight.IDispatchService"
        name="Dispatch" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="BigGraph">
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <userSettings>
    <Argix.Properties.Settings>
      <setting name="LastVersion" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Toolbar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StatusBar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="Location" serializeAs="String">
        <value>45, 45</value>
      </setting>
      <setting name="Size" serializeAs="String">
        <value>800, 600</value>
      </setting>
      <setting name="ClientInboundColumnHeaders" serializeAs="String">
        <value />
      </setting>
      <setting name="InboundColumnHeaders" serializeAs="String">
        <value />
      </setting>
      <setting name="OutboundColumnHeaders" serializeAs="String">
        <value />
      </setting>
      <setting name="PickupLogColumnHeaders" serializeAs="String">
        <value />
      </setting>
      <setting name="Templates" serializeAs="String">
        <value>False</value>
      </setting>
    </Argix.Properties.Settings>
  </userSettings>
</configuration>