<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" loginUrl="~/Account/Login.aspx" defaultUrl="Default.aspx" timeout="10">
        <credentials passwordFormat="Clear">
          <user name="jheary" password="password" />
          <user name="nino" password="password" />
          <user name="cgormley" password="password" />
        </credentials>
      </forms>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="1440" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <customErrors mode="RemoteOnly" defaultRedirect="Error.aspx" />
    <pages styleSheetTheme="Argix" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>
        <clear/>
        <add value="Default.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IPermitSearchService">
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.151.65/Argix10/Argix10.HR.Services/PermitSearch.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPermitSearchService" contract="Argix.HR.IPermitSearchService" name="WSHttpBinding_IPermitSearchService"/>
    </client>
  </system.serviceModel>
</configuration>