<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Argix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings />
    <connectionStrings>
        <add name="SQLConnection" connectionString="Data Source=rgxvmdev;Initial Catalog=Tsort; Persist Security Info=True; User ID=sa; Password=objects; Pooling=false; Min Pool Size=0; Max Pool Size=100;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <applicationSettings>
        <Argix.Properties.Settings>
            <setting name="MapUrl" serializeAs="String">
                    <value>http://rgxvmweb/Argix10/Argix10.Dispatch.Services/Map.aspx</value>
                </setting>
            </Argix.Properties.Settings>
    </applicationSettings>
<system.serviceModel>
    <bindings>
        <wsHttpBinding>
            <binding name="WSHttpBinding_IRoadshowService" closeTimeout="00:01:00"
                openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                maxBufferPoolSize="524288" maxReceivedMessageSize="40000000"
                messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                allowCookies="false">
                <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                    maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                <reliableSession ordered="true" inactivityTimeout="00:10:00"
                    enabled="false" />
                <security mode="None">
                    <transport clientCredentialType="Windows" proxyCredentialType="None"
                        realm="" />
                    <message clientCredentialType="Windows" negotiateServiceCredential="true" />
                </security>
            </binding>
            <binding name="WSHttpBinding_IDispatchService" closeTimeout="00:01:00"
                openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                maxBufferPoolSize="524288" maxReceivedMessageSize="6553600"
                messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                allowCookies="false">
                <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                    maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                <reliableSession ordered="true" inactivityTimeout="00:10:00"
                    enabled="false" />
                <security mode="None">
                    <transport clientCredentialType="Windows" proxyCredentialType="None"
                        realm="" />
                    <message clientCredentialType="Windows" negotiateServiceCredential="true" />
                </security>
            </binding>
        </wsHttpBinding>
    </bindings>
    <client>
        <endpoint address="http://rgxvmweb/Argix10/Argix10.Dispatch.Services/Roadshow.svc"
            binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRoadshowService"
            contract="Terminals.IRoadshowService" name="WSHttpBinding_IRoadshowService" 
            behaviorConfiguration="BigGraph" />
        <endpoint address="http://rgxvmweb/Argix10/Argix10.Dispatch.Services/Dispatch.svc"
            binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDispatchService"
            contract="Freight.IDispatchService" name="WSHttpBinding_IDispatchService" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="BigGraph">
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>