<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Tracking.carton" value="http://www.argixdirect.com/tracking/carton.asmx"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="None"/>
    <customErrors mode="Off"/>
    <trace traceMode="SortByTime" enabled="true" pageOutput="true"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
</configuration>