<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CommandTimeout" value="10"/>
    <add key="UseSpecificCredentials" value="1" />
    <add key="username" value="rgxshpnt" />
    <add key="password" value="rgxshpnt_rgx" />
    <add key="domain" value="Argix" />
    <add key="MaxSearchResults" value="250" />
    <add key="rgxvmsp.search" value="http://rgxvmsp:9000/_vti_bin/search.asmx" /> <!-- http://rgxvmsp:9000/_vti_bin/search.asmx -->
    <add key="USPS_UserID" value="019ARGIX2902" />
    <add key="USPS_Url" value="http://Production.shippingapis.com/ShippingAPI.dll" />
    <add key="SMTPServer" value="smtp.argix.com" />  <!-- smtp.argix.com -->
    <add key="LogLevelFloor" value="4" />
  </appSettings>
  <connectionStrings>
    <add name="Enterprise" connectionString="data source=rgxvmsql;initial catalog=Tsort;persist security info=False;user id=sa;password=objects;packet size=4096;Connect Timeout=15" providerName="System.Data.SqlClient"/>
    <add name="EnterpriseR" connectionString="data source=rgxvmsqlr;initial catalog=TsortR;persist security info=False;user id=sa;password=objects;packet size=4096;Connect Timeout=15" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="None" />
    <customErrors mode="On" defaultRedirect="Error.aspx" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" />
    <bindings>
      <wsHttpBinding>
        <binding name="default" maxReceivedMessageSize="8192000">
          <readerQuotas maxDepth="8192000" maxStringContentLength="8192000" maxArrayLength="8192000" maxBytesPerRead="8192000" maxNameTableCharCount="8192000"/>
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
      <webHttpBinding>
        <binding name="default" maxReceivedMessageSize="8192000">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="Argix.TrackingService" behaviorConfiguration="bigGraph">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="default" contract="Argix.ITrackingService" />
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="default" contract="Argix.Customers.ICRMService" />
        <endpoint address="ajax" binding="webHttpBinding" bindingConfiguration="default" contract="Argix.ITrackingService" behaviorConfiguration="webScriptBehavior"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Argix.ConsumerTrackingService" behaviorConfiguration="bigGraph">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="default" contract="Argix.IConsumerTrackingService" />
        <endpoint address="ajax" binding="webHttpBinding" bindingConfiguration="default" contract="Argix.IConsumerTrackingService" behaviorConfiguration="webScriptBehavior"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Argix.FastTrackingService" behaviorConfiguration="bigGraph">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="default" contract="Argix.IFastTrackingService" />
        <endpoint address="ajax" binding="webHttpBinding" bindingConfiguration="default" contract="Argix.IFastTrackingService" behaviorConfiguration="webScriptBehavior"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Argix.LTLTrackingService" behaviorConfiguration="bigGraph">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="default" contract="Argix.ILTLTrackingService" />
        <endpoint address="ajax" binding="webHttpBinding" bindingConfiguration="default" contract="Argix.ILTLTrackingService" behaviorConfiguration="webScriptBehavior"/>
        <endpoint address="mex" contract="IMetadataExchange" binding="mexHttpBinding"/>
      </service>
      <service name="Argix.Enterprise.ImagingService" behaviorConfiguration="bigGraph">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="default" contract="Argix.Enterprise.IImagingService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Argix.SMTPService" behaviorConfiguration="default">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="default" contract="Argix.ISMTPService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Argix.Enterprise.USPSService" behaviorConfiguration="default">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="default" contract="Argix.Enterprise.IUSPSService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
          <behavior name="default">
            <serviceMetadata httpGetEnabled="true" />
            <serviceDebug includeExceptionDetailInFaults="true" />
          </behavior>
          <behavior name="bigGraph">
            <serviceMetadata httpGetEnabled="true" />
            <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webScriptBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>