<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Argix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="menu">
      <section name="help" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <Argix.Properties.Settings>
      <setting name="LastVersion" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Toolbar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StatusBar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Location" serializeAs="String">
        <value>45, 45</value>
      </setting>
      <setting name="Size" serializeAs="String">
        <value>800, 600</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="licenseKey" serializeAs="String">
        <value>70Ra5385TF30</value>
      </setting>
      <setting name="username" serializeAs="String">
        <value>ratewarexl@argixlogistics.com</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value>LN533rfO</value>
      </setting>
      <setting name="Font" serializeAs="String">
        <value>Tahoma, 8.25pt</value>
      </setting>
      <setting name="InputSplitterDistance" serializeAs="String">
        <value>175</value>
      </setting>
      <setting name="MainSplitterDistance" serializeAs="String">
        <value>325</value>
      </setting>
      <setting name="WorkingDirectory" serializeAs="String">
        <value />
      </setting>
    </Argix.Properties.Settings>
  </userSettings>
  <menu>
    <help>
      <add key="HelpContents" value="" />
      <add key="Release Notes..." value="releasenotes.txt" />
      <add key="Issue Log..." value="" />
    </help>
  </menu>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IRateQuoteService" maxReceivedMessageSize="6553600">
          <readerQuotas maxArrayLength="16384" />
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_ILTLService2">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_ILTLAdminService2">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_ILTLClientService2">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:34780/Argix10.Finance.Services/RateQuoteService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRateQuoteService"
        contract="Finance.IRateQuoteService" name="WSHttpBinding_IRateQuoteService" />
      <endpoint address="http://rgxvmweb/Argix10/Argix10.Freight.Services/LTLService2.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILTLService2"
        contract="Freight.ILTLService2" name="WSHttpBinding_ILTLService2" />
      <endpoint address="http://rgxvmweb/Argix10/Argix10.Freight.Services/LTLService2.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILTLAdminService2"
        contract="Freight.ILTLAdminService2" name="WSHttpBinding_ILTLAdminService2" />
      <endpoint address="http://rgxvmweb/Argix10/Argix10.Freight.Services/LTLService2.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILTLClientService2"
        contract="Freight.ILTLClientService2" name="WSHttpBinding_ILTLClientService2" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RateQuote">
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
