<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Argix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="menu">
      <section name="help" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Argix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Argix.Properties.Settings>
      <setting name="MapUrl" serializeAs="String">
        <value>http://rgxvmweb/Argix10/Argix10.Enterprise.Services/Map.aspx</value>
      </setting>
    </Argix.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Argix.Properties.Settings>
      <setting name="LastVersion" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Toolbar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StatusBar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Location" serializeAs="String">
        <value>45, 45</value>
      </setting>
      <setting name="Size" serializeAs="String">
        <value>800, 600</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="Font" serializeAs="String">
        <value>Tahoma, 8.25pt</value>
      </setting>
      <setting name="ColumnHeaders" serializeAs="String">
        <value />
      </setting>
      <setting name="ColumnFilters" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowDesktopAlert" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HideWhenMinimized" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ToolboxAutoHide" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ToolboxWidth" serializeAs="String">
        <value>192</value>
      </setting>
      <setting name="LastRefresh" serializeAs="String">
        <value>05/16/2012 09:12:00</value>
      </setting>
      <setting name="Reminders" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoRefreshOn" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IssueDaysBack" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="TempFolder" serializeAs="String">
        <value>c:\Temp\</value>
      </setting>
    </Argix.Properties.Settings>
  </userSettings>
  <menu>
    <help>
      <add key="Help Contents" value=""/>
      <add key="Release Notes..." value="releasenotes.txt"/>
    </help>
  </menu>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICRMService" maxReceivedMessageSize="8192000">
          <readerQuotas maxStringContentLength="819200" maxArrayLength="16384000" />
        </binding>
        <binding name="default_ITrackingService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
        <binding name="default_ICRMService" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false"
          transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="8192000"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="819200" maxArrayLength="16384000"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://rgxvmweb/Argix10/Argix10.Enterprise.Services/Tracking.svc"
        binding="wsHttpBinding" bindingConfiguration="default_ITrackingService"
        contract="Enterprise.ITrackingService" name="default_ITrackingService" />
      <endpoint address="http://rgxvmweb/Argix10/Argix10.Enterprise.Services/Tracking.svc"
        binding="wsHttpBinding" bindingConfiguration="default_ICRMService"
        contract="Enterprise.ICRMService" name="default_ICRMService" />
      <endpoint address="http://localhost:2421/Argix10.Customers.Services/CRMService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICRMService"
        contract="Customers.ICRMService" name="WSHttpBinding_ICRMService" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
