<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="licenseKey" value="70Ra5385TF30" />
    <add key="username" value="ratewarexl@argixlogistics.com" />
    <add key="password" value="LN533rfO" />
    <add key="LogLevelFloor" value="4" />
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=rgxvmsql;Initial Catalog=ArgixMembership;Persist Security Info=True;User ID=sa;Password=objects;" providerName="System.Data.SqlClient" />
    <add name="Enterprise" connectionString="Data Source=rgxvmsql;Initial Catalog=TSORT;Persist Security Info=True;User ID=sa;Password=objects" providerName="System.Data.SqlClient" />
    <add name="DriverComp" connectionString="Data Source=rgxvmsql;Initial Catalog=TSORT;Persist Security Info=True;User ID=sa;Password=objects" providerName="System.Data.SqlClient" />
    <add name="Invoicing" connectionString="Data Source=rgxvmsqlr;Initial Catalog=TSORTR;Persist Security Info=True;User ID=sa;Password=objects" providerName="System.Data.SqlClient" />
    <add name="RateQuote" connectionString="Data Source=rgxvmsql;Initial Catalog=TSORT;Persist Security Info=True;User ID=sa;Password=objects" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
    <roleManager enabled="true" defaultProvider="SqlRoleProvider">
      <providers>
        <clear/>
        <add name="SqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="Argix" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address=" http://applications.smc3.com/AdminManager/services/RateWareXL" binding="basicHttpBinding" bindingConfiguration="RateWareXLHttpBinding" contract="Argix.RateWare.RateWareXLPortType" name="RateWareXLHttpPort" />
      <endpoint address="http://rgxvmweb.argix.com/Argix10/Argix10.Enterprise.Services/SMTP.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISMTPService" contract="Argix.Enterprise.ISMTPService" name="WSHttpBinding_ISMTPService" />
    </client>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <bindings>
      <basicHttpBinding>
        <binding name="RateWareXLHttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="Default" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="40000000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None"/>
        </binding>
        <binding name="Intranet" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="40000000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows"/>
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
        <binding name="Internet" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="40000000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="WSHttpBinding_ISMTPService">
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="Argix.Finance.DriverCompService" behaviorConfiguration="RoleBased">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Intranet" contract="Argix.Finance.IDriverCompService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Argix.Finance.InvoicingService" behaviorConfiguration="RoleBased">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Intranet" contract="Argix.Finance.IInvoicingService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Argix.Finance.RateQuoteService" behaviorConfiguration="BigGraph">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Default" contract="Argix.Finance.IRateQuoteService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="RoleBased">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceAuthorization principalPermissionMode="UseAspNetRoles" roleProviderName="SqlRoleProvider"/>
        </behavior>
        <behavior name="BigGraph">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>