<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MembershipDB" connectionString="Data Source=172.31.10.200;Initial Catalog=TrackingMembership;Persist Security Info=True;User ID=sa;Password=objects;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SMTPServer" value="192.168.151.18" />
    <add key="EmailTo" value="jheary@argixlogistics.com" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms name=".ASPXFORMSAUTH" loginUrl="login.aspx" defaultUrl="index.html" timeout="10" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <machineKey validationKey="938F16944B238669130081E3DEBC04150D8B8EE12D5BF6578BFDEBA1837271C9310B43A5B326F6A38A0838978E08FDC92A61969E9F92B1EBD76F60B0E5DB8305" decryptionKey="6F1053A47F027D4ED12E0480E815FCA99F4DA73CCD0A2DF4" validation="SHA1" />
    <membership defaultProvider="mpArgix">
      <providers>
        <clear />
        <add name="mpArgix" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="MembershipDB" applicationName="Tracking" enablePasswordRetrieval="true" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Encrypted" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="6" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <roleManager defaultProvider="rmpArgix" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES">
      <providers>
        <clear />
        <add name="rmpArgix" type="System.Web.Security.SqlRoleProvider" connectionStringName="MembershipDB" applicationName="Tracking" />
      </providers>
    </roleManager>
    <profile defaultProvider="ppArgix" enabled="true">
      <providers>
        <clear />
        <add name="ppArgix" type="System.Web.Profile.SqlProfileProvider" connectionStringName="MembershipDB" applicationName="Tracking" description="SqlProfileProvider for Carton Tracking application" />
      </providers>
      <properties>
        <add name="Company" type="string" allowAnonymous="false" />
        <add name="UserFullName" type="string" />
        <add name="Type" type="string" />
        <add name="ClientVendorID" type="string" />
        <add name="PasswordReset" type="boolean" />
        <add name="WebServiceUser" type="boolean" />
        <add name="StoreSearchType" type="string" defaultValue="Argix" />
      </properties>
    </profile>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ITrackingService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:53791/Argix10.Enterprise.Services/Tracking.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITrackingService" contract="Enterprise.ITrackingService" name="WSHttpBinding_ITrackingService" />
    </client>
  </system.serviceModel>
</configuration>