<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=rgxvmsql;Initial Catalog=ArgixMembership;Persist Security Info=True;User ID=sa;Password=objects;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime executionTimeout="600" />
    <machineKey validationKey="938F16944B238669130081E3DEBC04150D8B8EE12D5BF6578BFDEBA1837271C9310B43A5B326F6A38A0838978E08FDC92A61969E9F92B1EBD76F60B0E5DB8305" decryptionKey="6F1053A47F027D4ED12E0480E815FCA99F4DA73CCD0A2DF4"/>
    <authentication mode="Windows" />
    <identity impersonate="true" />
    <roleManager enabled="true" defaultProvider="AspNetSqlRoleProvider">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="Argix"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="Argix"/>
      </providers>
    </roleManager>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="1440" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx" />
    <pages styleSheetTheme="Argix" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Default.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IDriverBadgeService" maxReceivedMessageSize="65536000">
          <readerQuotas maxStringContentLength="819200"/>
        </binding>
        <binding name="WSHttpBinding_IEmployeeBadgeService" maxReceivedMessageSize="65536000">
          <readerQuotas maxStringContentLength="819200"/>
        </binding>
        <binding name="WSHttpBinding_IVendorBadgeService" maxReceivedMessageSize="65536000">
          <readerQuotas maxStringContentLength="819200"/>
        </binding>
        <binding name="WSHttpBinding_IBadgeService" maxReceivedMessageSize="65536000">
          <readerQuotas maxStringContentLength="819200"/>
        </binding>
        <binding name="WSHttpBinding_IAccessControlBadgeService" maxReceivedMessageSize="65536000">
          <readerQuotas maxStringContentLength="819200"/>
        </binding>
        <binding name="WSHttpBinding_IPermitService" maxReceivedMessageSize="65536">
          <readerQuotas maxStringContentLength="819200"/>
        </binding>
        <binding name="WSHttpBinding_IPermitAdminService" maxReceivedMessageSize="65536000">
          <readerQuotas maxStringContentLength="819200"/>
        </binding>
        <binding name="WSHttpBinding_IPermitSearchService" maxReceivedMessageSize="65536000">
          <readerQuotas maxStringContentLength="819200"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://rgxvmweb/Argix10/Argix10.HR.Services/Badge.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBadgeService" contract="Argix.HR.IBadgeService" name="WSHttpBinding_IBadgeService"/>
      <endpoint address="http://rgxvmweb/Argix10/Argix10.HR.Services/Badge.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDriverBadgeService" contract="Argix.HR.IDriverBadgeService" name="WSHttpBinding_IDriverBadgeService"/>
      <endpoint address="http://rgxvmweb/Argix10/Argix10.HR.Services/Badge.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEmployeeBadgeService" contract="Argix.HR.IEmployeeBadgeService" name="WSHttpBinding_IEmployeeBadgeService"/>
      <endpoint address="http://rgxvmweb/Argix10/Argix10.HR.Services/Badge.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IVendorBadgeService" contract="Argix.HR.IVendorBadgeService" name="WSHttpBinding_IVendorBadgeService"/>
      <endpoint address="http://rgxvmweb/Argix10/Argix10.HR.Services/Badge.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAccessControlBadgeService" contract="Argix.HR.IAccessControlBadgeService" name="WSHttpBinding_IAccessControlBadgeService"/>
      <endpoint address="http://rgxvmweb/Argix10/Argix10.HR.Services/Permit.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPermitService" contract="Argix.HR.Permits.IPermitService" name="WSHttpBinding_IPermitService" />
      <endpoint address="http://rgxvmweb/Argix10/Argix10.HR.Services/Permit.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPermitAdminService" contract="Argix.HR.Permits.IPermitAdminService" name="WSHttpBinding_IPermitAdminService" />
      <endpoint address="http://rgxvmweb/Argix10/Argix10.HR.Services/Permit.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPermitSearchService" contract="Argix.HR.Permits.IPermitSearchService" name="WSHttpBinding_IPermitSearchService" />
    </client>
  </system.serviceModel>
</configuration>