<configuration>
  <!-- Ship Schedule -->
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Argix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Argix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="menu">
      <section name="help" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Argix.Properties.Settings>
      <setting name="SQLReportsWS" serializeAs="String">
        <value>http://rgxvmsqlrpt08:80/ReportServer/ReportService2010.asmx</value>
      </setting>
      <setting name="ValidationWindow" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="CanEditFreightAssigned" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AgentReportPath" serializeAs="String">
        <value>/AgentLineHaul/Agent Ship Schedule</value>
      </setting>
      <setting name="CarrierReportPath" serializeAs="String">
        <value>/AgentLineHaul/Carrier Ship Schedule</value>
      </setting>
      <setting name="ExportDefinitionFile" serializeAs="String">
        <value>http://rgxvmweb/Argix10/Apps/AgentLineHaul/ShipSchedule/</value>
      </setting>
      <setting name="TerminalMapUrl" serializeAs="String">
        <value>http://rgxvmweb/Argix10/Argix10.Enterprise.Services/Map.aspx</value>
      </setting>
    </Argix.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Argix.Properties.Settings>
      <setting name="LastVersion" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Toolbar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StatusBar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Location" serializeAs="String">
        <value>45, 45</value>
      </setting>
      <setting name="Size" serializeAs="String">
        <value>800, 600</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="TemplatesWindow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Font" serializeAs="String">
        <value>Tahoma, 8.25pt</value>
      </setting>
      <setting name="ColumnHeaders" serializeAs="String">
        <value />
      </setting>
      <setting name="PastBusinessDays" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ScheduleDaysBack" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="ScheduleDaysForward" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="AutoRefreshTimer" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="AutoRefreshEnabled" serializeAs="String">
        <value>True</value>
      </setting>
    </Argix.Properties.Settings>
  </userSettings>
  <menu>
    <help>
      <add key="Help Contents" value=""/>
      <add key="Release Notes..." value="releasenotes.txt"/>
    </help>
  </menu>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_RoleService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IShipScheduleService" maxReceivedMessageSize="6553600">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IZoneClosingService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://rgxvmweb.argix.com/Argix10/Argix10.Membership.Services/RoleService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_RoleService" contract="Security.RoleService" name="BasicHttpBinding_RoleService" />
      <endpoint address="http://rgxvmweb/Argix10/Argix10.AgentLineHaul.Services/ShipScheduleService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IShipScheduleService" contract="AgentLineHaul.IShipScheduleService" name="WSHttpBinding_IShipScheduleService" />
      <endpoint address="http://rgxvmweb/Argix10/Argix10.AgentLineHaul.Services/ShipScheduleService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IZoneClosingService" contract="AgentLineHaul.IZoneClosingService" name="WSHttpBinding_IZoneClosingService" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
