<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CommandTimeout" value="900"/>
    <add key="SQLReports.ReportService2010" value="http://192.168.151.42/ReportServer/ReportService2010.asmx"/>
  </appSettings>
  <connectionStrings>
    <add name="SQLConnection" connectionString="data source=192.168.151.30;initial catalog=TSORTR;persist security info=False;user id=apps;password=allclients_rgx;packet size=4096;Connect Timeout=15" providerName="System.Data.SqlClient"/>
    <add name="Enterprise" connectionString="Data Source=172.31.10.201;Initial Catalog=Enterprise;Persist Security Info=True;User ID=sa;Password=objects;" providerName="System.Data.SqlClient"/>
    <add name="MembershipDB" connectionString="Data Source=172.31.10.201;Initial Catalog=TrackingMembership;Persist Security Info=True;User ID=sa;Password=objects;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" batch="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </buildProviders>
    </compilation>
    <httpRuntime executionTimeout="600"/>
    <httpHandlers>
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <pages styleSheetTheme="Argix" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <authentication mode="Forms">
      <forms name=".ASPXFORMSAUTH" loginUrl="Login.aspx" defaultUrl="Default.aspx" timeout="1440"/>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
    <machineKey validationKey="938F16944B238669130081E3DEBC04150D8B8EE12D5BF6578BFDEBA1837271C9310B43A5B326F6A38A0838978E08FDC92A61969E9F92B1EBD76F60B0E5DB8305" decryptionKey="6F1053A47F027D4ED12E0480E815FCA99F4DA73CCD0A2DF4" validation="SHA1"/>
    <membership defaultProvider="Default">
      <providers>
        <add name="Default" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="MembershipDB" applicationName="Tracking" enablePasswordRetrieval="true" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Encrypted" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="6" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="Default" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES">
      <providers>
        <add name="Default" type="System.Web.Security.SqlRoleProvider" connectionStringName="MembershipDB" applicationName="Tracking"/>
      </providers>
    </roleManager>
    <profile defaultProvider="Default" enabled="true">
      <providers>
        <clear/>
        <add name="Default" type="System.Web.Profile.SqlProfileProvider" connectionStringName="MembershipDB" applicationName="Tracking" description="SqlProfileProvider for Reports application"/>
      </providers>
      <properties>
        <add name="Company" type="string" allowAnonymous="false"/>
        <add name="UserFullName" type="string"/>
        <add name="Type" type="string"/>
        <add name="ClientVendorID" type="string"/>
        <add name="PasswordReset" type="boolean"/>
        <add name="WebServiceUser" type="boolean"/>
        <add name="StoreSearchType" type="string" defaultValue="Argix"/>
      </properties>
    </profile>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="1440"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <customErrors mode="On" defaultRedirect="Error.aspx"/>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <!-- HEALTH MONITORING: Addendums to the definitions listed in C:\Windows\Microsoft.NET\Framework\v2.0.50727\CONFIG\Web.config-->
    <healthMonitoring enabled="false" heartbeatInterval="0">
      <rules>
        <add name="Report Requests" eventName="All Events" provider="sqlProvider" profile="Critical"/>
        <add name="Big Brother" eventName="Failure Audits" provider="mailProvider" profile="Critical"/>
      </rules>
      <providers>
        <add name="sqlProvider" type="System.Web.Management.SqlWebEventProvider,System.Web,Version=2.0.0.0,Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="MembershipDB" maxEventDetailsLength="1073741823" buffer="false" bufferMode="Analysis"/>
        <add name="mailProvider" type="System.Web.Management.SimpleMailWebEventProvider" to="jheary@argixdirect.com" from="jheary@argixdirect.com" subjectPrefix="Critical information from Reports10." buffer="false" bufferMode="Critical Notification"/>
      </providers>
    </healthMonitoring>
  </system.web>
  <system.web.extensions>
    <scripting>
      <scriptResourceHandler enableCaching="true" enableCompression="true"/>
    </scripting>
  </system.web.extensions>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network defaultCredentials="true" host="rgxvmexch1"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <handlers>
      <add name="Reserved-ReportViewerWebControl-axd" path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>