<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=rgxvmsql;Initial Catalog=ArgixMembership;Persist Security Info=True;User ID=sa;Password=objects;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime executionTimeout="600"/>
    <pages styleSheetTheme="Argix" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/>
    <machineKey validationKey="938F16944B238669130081E3DEBC04150D8B8EE12D5BF6578BFDEBA1837271C9310B43A5B326F6A38A0838978E08FDC92A61969E9F92B1EBD76F60B0E5DB8305" decryptionKey="6F1053A47F027D4ED12E0480E815FCA99F4DA73CCD0A2DF4"/>
    <authentication mode="Windows" />
    <roleManager enabled="true" defaultProvider="AspNetSqlRoleProvider">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="Argix"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="Argix"/>
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>